{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Ver Doctores</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctores %}
            <tr>
                <td>{{ doctor.nombre }}</td>
                <td>{{ doctor.apellido }}</td>
                <td>{{ doctor.especialidad }}</td>
                <td>{{ doctor.telefono }}</td>
                <td>{{ doctor.email }}</td>
                <td>
                    <a href="{% url 'actualizar_doctor' doctor.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'borrar_doctor' doctor.id %}" class="btn btn-danger btn-sm">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}